{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "tailwindStylesheet": "./src/routes/layout.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
